@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-font: #ffffff;
    --color-brand: #016956;
    --color-brand-purple: #DDE8E8;  /* #4a1c6b; */
    --color-brand-yellow: #FEF9CA;/* #ffe595; */

    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #e62937;
    --color-primary-200: #ed4c4b;
    --color-primary-300: #f3675f;
    --color-primary-400: #f97f74;
    --color-primary-500: #fd958a;
    --color-primary-600: #ffaba0;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #261816;
    --color-surface-mixed-200: #3b2d2b;
    --color-surface-mixed-300: #514442;
    --color-surface-mixed-400: #675c5a;
    --color-surface-mixed-500: #7f7573;
    --color-surface-mixed-600: #978f8d;
  }

  ::selection {
    background-color: var(--color-brand);
    color: #fff;
  }

  html,
  body {
    @apply text-gray-800 bg-white dark:bg-surface-100 dark:text-white font-sans;
    height: 100%;
  }
}

@layer components {
  .scale-in-center {
    animation: scaleIn 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    transform-origin: top center;
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .bounce-loading {
    animation: bounceLoading 2.5s linear infinite;
  }

  @keyframes bounceLoading {
    0% {
      transform: translateY(0);
    }

    15% {
      transform: translateY(10%);
    }

    35% {
      transform: translateY(-5%);
    }

    65% {
      transform: translateY(5%);
    }

    85% {
      transform: translateY(10%);
    }

    100% {
      transform: translateY(0);
    }
  }
}
