@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #e62937;
    --color-brand-purple: #4a1c6b;
    --color-brand-yellow: #ffe595;
  }

  ::selection {
    background-color: var(--color-brand);
    color: #fff;
  }

  html,
  body {
    @apply text-gray-800 font-sans;
    height: 100%;
  }
}

@layer components {
  .scale-in-center {
    animation: scaleIn 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transform-origin: top center;
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}