@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #ce000c;
  }

  ::selection {
    background-color: var(--color-brand);
    color: #fff;
  }

  html,
  body {
    @apply text-gray-800;
    height: 100%;
  }
}